= render 'moderate/shared/form_find_by_id'
= render 'moderate/shared/form_find_by_fields'
%table.table
  %thead
    %tr
      %th ID
      %th= t('.picture')
      %th= t('.title')
      %th= t('.body')
      %th
        %span{ title: t('.comments_count'), data: { toggle: 'tooltip', placement: 'top' } }
          = t('.comments_count_short')
      %th
        %span{ title: t('.complains_count'), data: { toggle: 'tooltip', placement: 'top' } }
          = t('.complains_count_short')
      %th
        %span{ title: t('.abuses_count'), data: { toggle: 'tooltip', placement: 'top' } }
          = t('.abuses_count_short')
      %th= t('moderate.shared.sections.entity_dreamer')
  %tbody
    = render @posts
    = paginate @posts, theme: 'moderate'
= render 'moderate/shared/group_actions', objects: @posts
