%table.table
  %thead
    %tr
      %th= t('.id')
      %th= t('.name')
      %th= t('.image')
      %th= t('.link')
      %th= t('.date_start')
      %th= t('.date_end')
      %th= t('.show_count')
      %th= t('.cross_count')
      %th= t('.test')
  %tbody
    = render @banner
