= form_for [:admin, :entity_control, dream], html: { class: 'form-horizontal' } do |f|
  = render 'admin/tags/shared/form_errors', object: dream
  .form-group
    %label.col-sm-2.control-label{ for: 'title' } Title
    .col-sm-5
      = f.text_field :title, class: 'form-control'
  .form-group
    %label.col-sm-2.control-label{ for: 'description' } Description
    .col-sm-5
      = f.text_field :description, class: 'form-control'
  .form-group
    %label.col-sm-2.control-label{ for: 'came_true' } Came true
    .col-sm-5
      .checkbox
        = f.check_box :came_true, checked: dream.came_true
  .form-group
    .col-sm-5.col-md-offset-2
      = f.submit (dream.new_record? ? 'Create' : 'Save'), class: 'btn btn-default'
