= form_for [:admin, :tags, @ad_link], html: { class: 'form-horizontal' } do |f|
  = render 'admin/tags/shared/form_errors', object: @ad_link
  .form-group
    %label.col-sm-2.control-label{ for: 'url' } Link
    .col-sm-5
      = f.text_field :url, class: 'form-control', placeholder: 'http://domain.com'
  .form-group
    %label.col-sm-2.control-label{ for: 'active' } Active
    .col-sm-5
      .checkbox
        = f.check_box :active, checked: @ad_link.active
  .form-group
    %label.col-sm-2.control-label{ for: 'banner' } Banner
    .col-sm-5
      = f.collection_select :tags, @ad_link.tags,
                            :id, :name, {}, { multiple: true,
                                              class: 'form-control',
                                              id: 'ad_link_tags',
                                              data: { entity_id: @ad_link.id,
                                                      chosen: @ad_link.tags.map(&:name) } }
  .form-group
    .col-sm-5.col-md-offset-2
      = f.submit (@ad_link.new_record? ? 'Create' : 'Save'), class: 'btn btn-default'
