.btn-group{ role: 'group' }
  %a.btn.btn-default.disabled{ href: '#', role: 'button' }
    = t('admin.management.purchases.state')
  = link_to t('admin.management.filters.all'), admin_management_purchases_path,
    class: "btn btn-default", role: 'button'
  = link_to t('admin.management.filters.completed'), admin_management_purchases_path(completed: true),
    class: "btn btn-default #{ params[:completed] ? 'active' : nil }", role: 'button'
  = link_to t('admin.management.filters.processing'), admin_management_purchases_path(processing: true),
    class: "btn btn-default #{ params[:processing] ? 'active' : nil }", role: 'button'
  = link_to t('admin.management.filters.failed'), admin_management_purchases_path(failed: true),
    class: "btn btn-default #{ params[:failed] ? 'active' : nil }", role: 'button'
