.card.post.card-no-flip.card-hover.js-flip
  .card__wrap.flip
    .card_back
      .card_back__wrap
        .logo_color
    .card_front
      .card_post__img
        - if post.photo.present?
          = image_tag post.photo.url(:medium)
        - else
          .post-default-img

        - if dreamer_signed_in?
          - if current_dreamer?(@dreamer)
            .card_post__menu
              .card_post__menu__wrapper
                = link_to t('actions.suggest'), modal_suggest_post_path(entity_type: post.class.to_s.underscore, entity_id: post.id, dreamer_id: current_dreamer.id), {remote: true, class: 'jmod-btn suggest', data: {'modal-type' => 'suggest_post'}}
                = link_to t('actions.delete'), account_post_path(post), method: :delete, class: 'delete js-delete'

          - else
            .card_post__menu
              .card_post__menu__wrapper
                = link_to t('actions.suggest'), modal_suggest_post_path(entity_type: post.class.to_s.underscore, entity_id: post.id, dreamer_id: current_dreamer.id), {remote: true, class: 'jmod-btn suggest', data: {'modal-type' => 'suggest_post'}}
                = link_to t('actions.borrow'), modal_take_post_path(entity_type: post.class.to_s.underscore, entity_id: post.id), {remote: true, class: 'jmod-btn add', data: {'modal-type' => 'take_post'}}

      = link_to account_dreamer_post_path(post.dreamer, post), {data: {push: "true", target: "#js-ajax-content"}} do
        .card_post__title
          %span= post.title

        .card_post__date
          %span= pretty_date(post.created_at)

        .card_post__description
          %span= post.body

      .card_post__footer
        .card_post__footer__left
          - if dreamer_signed_in?
            - like_action = current_dreamer.liked?(post) ? :unlike : :like

            .card_post__footer__likes.js-like-btn{class: "#{'js-tooltipster' if post.likes_count == 0} #{'empty' unless current_dreamer.liked?(post)}", data: {'t-target' => 'liked_list', 't-position' => 'bottom', 't-width' => '300', 't-interactive' => 'true', target: 'post', id: post.id, 'ctrl-type' => like_action, count: post.likes_count}}
              %span.js-like-btn-count= number_to_human(post.likes_count, format: '%n%u', strip_insignificant_zeros: true, units: { thousand: 'K' })
              .bubble.js-tooltipster-content
                .bubble-wrap
                  .bubble_counter.js-bubble-counter
                    = "#{post.likes_count} #{custom_pluralize(post.likes_count, 'people')} #{custom_pluralize(post.likes_count, 'like')}"
                  .bubble_items.js-bubble_items
                    - post.last_likes.last(5).each do |l|
                      = link_to [:account, l.dreamer, :dreams] do
                        = image_tag avatar_or_default(l.dreamer, :small)
                  .bubble_link.js-bubble-link{class: "#{'active' if post.likes_count > 5}"}
                    = link_to t("dreams.popup.show_liked"), modal_liked_list_path(entity_type: post.class.to_s.underscore, entity_id: post.id), {remote: true, data: {'modal-type' => 'liked_list', 'jmod-width' => '320'}, class: 'jmod-btn'}

            .card_post__footer__comments{class: "#{(post.comments_count == 0) ? 'empty' : 'js-tooltipster'}", data: {'t-target' => 'comments', 't-position' => 'bottom', 't-width' => '300', 't-interactive' => 'true'}}
              %span.js-comments-btn-count= number_to_human(post.comments_count, format: '%n%u', strip_insignificant_zeros: true, units: { thousand: 'K' })
              .bubble.js-tooltipster-content
                .bubble-wrap
                  .bubble_counter.js-bubble-counter
                    = "#{post.comments_count} #{custom_pluralize(post.comments_count, 'comments')}"
                  .bubble_items.js-bubble_items
                    - post.last_comments.limit(5).each do |comment|
                      = link_to [:account, post] do
                        = image_tag avatar_or_default(comment.dreamer, :small)
                  .bubble_link{class: "#{'active' if post.comments_count > 5}"}
                    = link_to t("dreams.popup.show_liked"), modal_commentators_path(entity_type: post.class.to_s.underscore, entity_id: post.id), {remote: true, data: {'modal-type' => 'commentators_list', 'jmod-width' => '320'}, class: 'jmod-btn'}
          - else
            = link_to modal_authorization_path, class: "empty additional_data__comments jmod-btn", remote: true, data: {"jmod-width" => "410px", "modal-type" => "authorization"} do
              %span.js-comments-btn-count= number_to_human(post.likes_count, format: '%n%u', strip_insignificant_zeros: true, units: { thousand: 'K' })

            = link_to modal_authorization_path, class: "empty additional_data__comments jmod-btn", remote: true, data: {"jmod-width" => "410px", "modal-type" => "authorization"} do
              %span.js-comments-btn-count= number_to_human(post.likes_count, format: '%n%u', strip_insignificant_zeros: true, units: { thousand: 'K' })

        .card_post__footer__right
          = link_to '', modal_share_path(entity_type: post.class.to_s.underscore, entity_id: post.id), remote: true, class: 'card_post__footer__share jmod-btn', data: {'modal-type' => 'share'}
