!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title My Dreams
    :css
      body {
          Margin: 0;
          padding: 0;
          min-width: 100%;
          background-color: #e8ebed;
      }
      table {
          border-spacing: 0;
          font-family: Verdana, Arial, sans-serif;
          color: #adadad;
          background-color: #ffffff;
          font-weight: 100;
          line-height: 150%;
          text-align: center;
      }
      td {
          padding: 0;
      }
      img {
          border: 0;
      }
      .wrapper1 {
          width: 100%;
          table-layout: fixed;
          background-color: #8381ff;
          background-image: url("http://d20pou9wppyzb1.cloudfront.net/emails/v1/blue.jpg");
          background-position: top center;
          -webkit-text-size-adjust: 100%;
          -ms-text-size-adjust: 100%;
      }
      .wrapper2 {
          width: 100%;
          table-layout: fixed;
          background-color: #e8ebed;
          -webkit-text-size-adjust: 100%;
          -ms-text-size-adjust: 100%;
      }
      .webkit {
          max-width: 600px;
      }
      .outer {
          Margin: 0 auto;
          width: 100%;
          max-width: 600px;
      }
      .full-width-image img {
          width: 100%;
          height: auto;
      }

      @-ms-viewport {
          width: device-width;
      }
      .inner {
          padding: 0 50px;
      }
      .toppad {
          padding-top: 30px;
      }
      p {
          Margin: 0;
      }
      a {
          color: #ee6a56;
          text-decoration: underline;
      }
      .border {
          border-top: 1px solid #e1e1e1;
      }


      .one-column .contents {
          text-align: left;
      }
      .one-column p {
          font-size: 16px;
          Margin-bottom: 24px;
      }
      .one-column p.h1 {
          font-size: 23px;
          line-height: 150%;
          font-weight: normal;
          Margin-bottom: 30px;
          color: #2e4255;
      }


      .left-sidebar {
          text-align: left;
          font-size: 0;
      }
      .left-sidebar .column {
          width: 100%;
          display: inline-block;
          vertical-align: top;
      }
      .left-sidebar .left {
          max-width: 360px;
      }
      .left-sidebar .right {
          max-width: 140px;
      }
    /[if (gte mso 9)|(IE)]
      <style type="text/css">
      table {border-collapse: collapse !important;}
      </style>
  %body{style: "margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;background-color:#e8ebed;"}
    %center.wrapper1{style: "width:100%;table-layout:fixed;background-color:#8381ff;background-image:url('http://d20pou9wppyzb1.cloudfront.net/emails/v1/blue.jpg');background-position:top center;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;"}
      .webkit{style: "width: 90%; margin: 0 auto; max-width:600px;"}
        /[if (gte mso 9)|(IE)]
          <table width="600" align="center" style="border-spacing:0;font-family:Verdana, Arial, sans-serif;color:#adadad;background-color:#e8ebed;font-weight:100;line-height:150%;text-align:center;" >
          <tr>
          <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
        %table.outer{align: "center", style: "background-color:transparent;border-spacing:0;font-family:Verdana, Arial, sans-serif;color:#adadad;font-weight:100;line-height:150%;text-align:center;Margin:0 auto;width:100%;max-width:600px;"}
          -# %tr
          -#   %td{style: "text-align:right;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;"}
          -#     %a{href: "", style: "color:#ffffff;text-decoration:underline;font-size:12px;"} Открыть в браузере
          %tr
            %td{style: "text-align:center;padding-top:45px !important;padding-bottom:0;padding-right:0;padding-left:0;color:white;"}
              = link_to root_url, { style: "color:#ee6a56;text-decoration:underline;", target: "_blank"} do
                %img{alt: "My Dreams", src: "http://d20pou9wppyzb1.cloudfront.net/emails/v1/logo.png", style: "border-width:0;line-height:0;display:inline-block;width:94px;height:auto;"}/
              %br/
              %br/
        /[if (gte mso 9)|(IE)]
          </td>
          </tr>
          </table>
          <table width="600" align="center" style="border-spacing:0;font-family:Verdana, Arial, sans-serif;color:#adadad;background-color:#ffffff;font-weight:100;line-height:150%;text-align:center;" >
          <tr>
          <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
        %table.outer{align: "center", style: "border-radius:10px 10px 0 0;border-spacing:0;font-family:Verdana, Arial, sans-serif;color:#adadad;background-color:#ffffff;font-weight:100;line-height:150%;text-align:center;Margin:0 auto;width:100%;max-width:600px;"}
          %tr{style: "border-radius:10px 10px 0 0;"}
            %td.one-column{style: "border-radius:10px 10px 0 0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;"}
              %table{style: "border-radius:10px 10px 0 0;border-spacing:0;font-family:Verdana, Arial, sans-serif;color:#adadad;background-color:#ffffff;font-weight:100;line-height:150%;text-align:center;", width: "100%"}
                %tr{style: "border-radius:10px 10px 0 0;"}
                  %td.inner.toppad{style: "border-radius:10px 10px 0 0;padding-bottom:0;padding-right:50px;padding-left:50px;padding-top:40px !important;"}
                    %p.h1{style: "Margin:0;font-size:23px;line-height:150%;font-weight:normal;Margin-bottom:30px;color:#2e4255;"}
                      = "#{I18n.t('.email.hello')}, #{@dreamer.full_name ? @dreamer.full_name : I18n.t('.email.dreamer')}!"
        /[if (gte mso 9)|(IE)]
          </td>
          </tr>
          </table>
    %center.wrapper2{style: "width:100%;table-layout:fixed;background-color:#e8ebed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;"}
      .webkit{style: "width: 90%; margin: 0 auto; max-width:600px;"}
        /[if (gte mso 9)|(IE)]
          <table width="600" align="center" style="border-spacing:0;font-family:Verdana, Arial, sans-serif;color:#adadad;background-color:#ffffff;font-weight:100;line-height:150%;text-align:center;" >
          <tr>
          <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
        %table.outer.border2{:align => "center", style: "border-radius:0 0 10px 10px;border-spacing:0;font-family:Verdana, Arial, sans-serif;color:#adadad;background-color:#ffffff;font-weight:100;line-height:150%;text-align:center;Margin:0 auto;width:100%;max-width:600px;"}
          %tr{style: "border-radius:0 0 10px 10px;"}
            %td.one-column{style: "border-radius:0 0 10px 10px;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;"}
              %table{style: "border-radius:0 0 10px 10px;border-spacing:0;font-family:Verdana, Arial, sans-serif;color:#adadad;background-color:#ffffff;font-weight:100;line-height:150%;text-align:center;", :width => "100%"}
                %tr{style: "border-radius:0 0 10px 10px;"}
                  %td.inner{style: "border-radius:0 0 10px 10px;text-align:center;padding-top:0;padding-bottom:0;padding-right:50px;padding-left:50px;"}
                    %p{style: "Margin:0;font-size:16px;Margin-bottom:24px;"}
                      = I18n.t('.email.thanks_for_registration')
                      %br/
                      = link_to "mydreams.club", root_url, { id: 'logo', style: "color:#adadad;text-decoration:underline;", target: '_blank' }
                    %br/
                    %br/
                    %p{style: "Margin:0;font-size:16px;Margin-bottom:24px;"}= I18n.t('.email.please_confirm_email')
                    = link_to I18n.t('.email.confirmation_link'), confirmation_url(:dreamer, confirmation_token: @token), { style: "color:#ee6a56;text-decoration:underline;", target: "_blank" }
                    -# %img{alt: , src: "http://d20pou9wppyzb1.cloudfront.net/emails/v1/button_confirm.png", style: "width:auto;height:40px;border-width:0;line-height:0;display:inline-block;"}
                    %br/
                    %br/
                    %br/
                    %br/
                    %p.border{style: "color:#7c888d;font-size:15px;Margin:0;border-top-width:1px;border-top-style:solid;border-top-color:#e1e1e1;Margin-bottom:24px;"}
                      %br/
                      = I18n.t('.email.confirmation_rules')
        /[if (gte mso 9)|(IE)]
          </td>
          </tr>
          </table>
          <table width="600" align="center" style="border-spacing:0;font-family:Verdana, Arial, sans-serif;color:#adadad;background-color:#e8ebed;font-weight:100;line-height:150%;text-align:center;" >
          <tr>
          <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
        %table.outer{align: "center", style: "background-color:transparent;border-spacing:0;font-family:Verdana, Arial, sans-serif;color:#adadad;font-weight:100;line-height:150%;text-align:center;Margin:0 auto;width:100%;max-width:600px;"}
          %tr
            %td.one-column.toppad{style: "padding-bottom:0;padding-right:0;padding-left:0;padding-top:30px !important;"}
              -# %p{style: "font-size:14px;color:#a7afb3;Margin:0;Margin-bottom:24px;"}
              -#   %a{href: "", style: "font-size:14px;color:#a7afb3;font-weight:bold;text-decoration:underline;font-weight:normal"} Отписаться
              %p{style: "font-size:13px;color:#a7afb3;Margin:0;Margin-bottom:24px;"}
                = I18n.t('.email.company_information')
                %br/
                = link_to 'mydreams.club', root_url, { style: "color:#a7afb3;font-size:13px;text-decoration:underline;", target: "_blank" }
        /[if (gte mso 9)|(IE)]
          </td>
          </tr>
          </table>
