#{I18n.t('.email.hello')}, #{@dreamer.full_name ? @dreamer.full_name : I18n.t('.email.dreamer')}!

= I18n.t('.email.change_passwort_intro')
= link_to I18n.t('.email.change_passwort_link'), edit_password_url(:dreamer, reset_password_token: @token), { style: "color:#ee6a56;text-decoration:underline;", target: "_blank" }
= I18n.t('.email.change_passwort_rules')
= '-' * 80
= I18n.t('.email.company_information')
MyDreams.club
