.card.card-hover.js-flip{data: {type: :dreamer, 'dreamer-gender' => dreamer.gender, vip: "#{'vip' if dreamer.is_vip?}"}}
  .card__wrap.flip
    .card_back
      .card_back__wrap
        .logo_color
    .card_front
      = link_to [:account, dreamer, :dreams], class: 'dreamer-link' do
        .dreamer-dreambook Dreambook
        .dreamer-footer
          .dreamer-footer-wrap
            .dreamer-name
              - if dreamer.last_name.present?
                %span.first-name= dreamer.first_name
                %span.last-name= dreamer.decorate.last_name_and_age
              - else
                %span.first-name= dreamer.decorate.first_name_and_age

            - if dreamer.dream_city.present?
              .dreamer-location= "#{dreamer.dream_city}"

      .dreamer-avatar
        .avatar.dreamer_card
          - if dreamer.is_vip?
            .label_vip
              %span= t('flybook.vip')

          - if dreamer.online?
            .label_online
              %span= t('flybook.online')

          .avatar-image
            = image_tag(avatar_or_default(dreamer, :medium))

            - if current_dreamer?(@dreamer)
              .dreamer-ctrl__wrap
                -# FIXME: leading to bug when mutual subscription
                - if subscriptions
                  - if current_dreamer.wants_to_friend?(dreamer)
                    = link_to t('actions.deny_request'), [:deny_request, dreamer], class: 'dreamer-relationship__ctrl', data: { target: 'del' }
                  - else
                    = link_to t('actions.to_friendlist'), request_friendship_dreamer_path(dreamer), class: 'dreamer-relationship__ctrl', data: {target: 'accept'}
                  = link_to t('actions.delete'), [:remove_subscription, dreamer], class: 'dreamer-relationship__ctrl', data: {target: 'del'}

                - else
                  = link_to t('actions.to_friendlist'), request_friendship_dreamer_path(dreamer), class: 'dreamer-relationship__ctrl', data: {target: 'accept'}
                  = link_to t('actions.delete'), [:remove_inverse_subscription, dreamer], class: 'dreamer-relationship__ctrl', data: {target: 'del'}
